In [197]:
import statistics
import datetime
class Student:
    def __init__(self, name, student_id, grades, average):
        self.name = name
        self.student_id = student_id
        self.grades = grades
        self.average = average

    def add_grade(self, subject, score):
        self.grades.update({subject:score})

    def calculate_average(self):
        self.average = statistics.mean(list(self.grades.values()))
        return self.average

    def display_info(self):
        return f"Name: {self.name} | Student_ID: {self.student_id} | Grades: {self.grades} | Average {self.average}" 

    def generate_report(self):
        getdate = datetime.datetime.now()
        title = getdate.strftime("%Y%m%d")
        with open(f"singlereport{title}.txt", "a+") as f:
            f.write(Student.display_info(self))

    def __str__(self):
        return f"{self.name} {self.student_id} {self.average}"

In [225]:
class School:
    def __init__(self):
        self.students= []

    def add_student(self, student):
        self.students.append(student)

    def show_all_students(self):
        for student in self.students:
            print(student.display_info())

    def find_student(self, student_id):
        for student in self.students:
            if student_id == student.student_id:
                print(student.display_info())
                return None
        print(f"{student_id} not found!")
        return None

    def generate_all_reports(self):
        gen_getdate = datetime.datetime.now()
        gen_title = gen_getdate.strftime("%Y%m%d")
        for student in self.students:
            with open(f"{student.name}report{gen_title}.txt", "a+") as f:
                f.write(f"{student.display_info()}\n")
            with open(f"report{gen_title}.txt", "a+") as f:
                f.write(f"{student.display_info()}\n")

    def back_reports(self):
        pass

    def delete_all_reports(self):
        pass

In [212]:
john = Student("John", "MAT001", {"Math": 85, "English": 90, "Science": 78, "History": 88}, 0)
mary = Student("Mary", "MAT002", {"Math": 70, "English": 82, "Science": 75, "History": 80}, 0)
david = Student("David", "MAT003", {"Math": 95, "English": 89, "Science": 92, "History": 94}, 0)
sarah = Student("Sarah", "MAT004", {"Math": 60, "English": 65, "Science": 58, "History": 62}, 0)
grace = Student("Grace", "MAT005", {"Math": 78, "English": 85, "Science": 80, "History": 76}, 0)

In [213]:
model = School()

In [214]:
model.students = [john, mary, david, sarah, grace]

In [215]:
john.add_grade("Chem", 7)

In [216]:
grace.calculate_average()

79.75

In [217]:
grace.display_info()

"Name: Grace | Student_ID: MAT005 | Grades: {'Math': 78, 'English': 85, 'Science': 80, 'History': 76} | Average 79.75"

In [218]:
john.generate_report()

In [219]:
mel = Student("Mel", "MAT006", {"Math": 83, "English": 90, "Science": 85, "History": 81}, 0)

In [220]:
#model.add_student(mel)

In [221]:
model.show_all_students()

Name: John | Student_ID: MAT001 | Grades: {'Math': 85, 'English': 90, 'Science': 78, 'History': 88, 'Chem': 7} | Average 0
Name: Mary | Student_ID: MAT002 | Grades: {'Math': 70, 'English': 82, 'Science': 75, 'History': 80} | Average 0
Name: David | Student_ID: MAT003 | Grades: {'Math': 95, 'English': 89, 'Science': 92, 'History': 94} | Average 0
Name: Sarah | Student_ID: MAT004 | Grades: {'Math': 60, 'English': 65, 'Science': 58, 'History': 62} | Average 0
Name: Grace | Student_ID: MAT005 | Grades: {'Math': 78, 'English': 85, 'Science': 80, 'History': 76} | Average 79.75

In [222]:
model.find_student("MAT001")

Name: John | Student_ID: MAT001 | Grades: {'Math': 85, 'English': 90, 'Science': 78, 'History': 88, 'Chem': 7} | Average 0

In [226]:
model.generate_all_reports()